<div id="modal-window" class="class hide fade">
  <%= form_for(Note.new) do |f| %>
    <div id="error_explanation">

        <ul>
          <div id="field">
            <%= f.label :note %>
            <%= f.text_field :body %>
          </div>
          <div id="actions">
            <%= f.submit %>
          </div>
    </div>
  <%end%>
</div>
