<div class="container" id="index">

  <% @users.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |user| %>
        <div class= "col-xs-3">

          <%= link_to image_tag(user.picture, :class => "img-responsive"), "#","data-toggle" => "modal", "data-target" => "#myModal#{pix.id}" %>
          <%= render :partial => "user/myModal", :locals => {:user => user} %>

        </div>
      <% end %>
    </div>
  <%end%>
</div>
