<p id="notice"><%= notice %></p>

<h1>Your Events</h1>
  <div>

    <% @events.map do |event| %>
    <ul>
      <strong><%= link_to event.group_name, event_path(event["id"])%></strong>
      <%= strip_tags(event.description) %>
      <%= event.date %>
    </ul>

      <% end %>
  </div>
