        <head>

            <title>Welcome</title>

            <!-- Custom CSS -->
            <link href="css/stylish-portfolio.css" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        </head>

        <body>

            <!-- Header -->
            <header id="top" class="header">
                <div class="text-vertical-center">
                    <h1>PENA</h1>
                    <h3>The Professional Networking App</h3>
                    <br>
                    <h3>Authenticate via Linkedin to get Started!</h3>
                    <%= link_to image_tag("linkedin-sign-in.png"), '/auth/linkedin' %>
                </div>
            </header>


        </body>
