<div class="jumbotron">
  <h1>Welcome to P.E.N.A</h1>
  <p>The Professional Event Networking App</p>
  <p>Authenticate via Linkedin to get started!</p>
    <%= link_to image_tag("linkedin-sign-in.png"), '/auth/linkedin' %>
</div>
