  <div class="container">
  <div class="text-vertical-center col-md-6" id="welcome-content">
    <h1>BusinessConnect</h1>
    <h3>The Professional Networking App</h3>
    <br>
    <h3>Authenticate via Linkedin to get Started!</h3>
    <%= link_to image_tag("linkedin-sign-in.png"), '/auth/linkedin' %>
  </div>
</div>
